<article>
  <header>
    <h1><%= t('.title', name: @setting.name) %></h1>
  </header>

  <div class="tabbable">
    <%= render_list class: 'nav nav-tabs' do |li|
      if can? :index, @setting.class
        li << [link_to(t('.index'), settings_path), { class: 'pull-right' }]
      end
      if can? :list, @setting.class
        li << [link_to(t('.list'), list_settings_path), { class: 'pull-right' }]
      end
      if can? :edit, @setting
        li << [link_to(t('helpers.edit'), edit_setting_path(@setting)), { class: 'pull-right' }]
      end
    end %>

    <div>
      <%= render 'setting', setting: @setting %>
    </div>
  </div>

  <footer>
  </footer>
</article>
